body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
}

#home {
  display: flex;
  justify-content: center;
}

.vis-banner {
  width: 250px;
}

.corner-pic {
  height: 45px;
}

#header-dropdown {
  color: black;
  background-color: white;
  border-color: white;
}
#header-dropdown:hover {
  color: black;
  background-color: white;
  border-color: white;
}

div.dropdown{
  text-align: right;
}

.chat-btns {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.gitButton {
  border: 5px solid black;
}

#current-match {
  background-color: #EFEFEF;
  padding: 20 30;
  margin: 30;
  text-align: center;
}

.pic-current-match {
  height: auto;
  max-width: 100%;
  max-height: 200px;
}

.match-card {
  width: 200px;
}

#past-match-cards {
  display:flex;
  justify-content: space-evenly;
}
.card-img-top {
  height:200px;
}

.match-details {
  text-align: center;
}

.match-details img {
  padding: 0px 20px;
  max-height: 200px;
}

#match-loc-input {
  width:100%;
}
.nav {
  background-color: #ffffff;
  width: 100%;
}

.btnLogin {
  justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 5em;
  height: 5em;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#app {
  min-height: 80vh;
  width: 1000px;
}

.formLogin {
  border: 1px solid rgb(0,0,0, .2);
  min-width: 300px;
  padding: 30;
  background-color: white;
  width: 300;
  margin: auto;
  margin-top: 10vh;
}

#login-button {
  margin-top: 30px;
  margin-bottom: 20px;
  width:100%;
}

#login-github {
  margin-bottom: 20px;
  width:100%;
}

#create-account {
  margin-bottom: 20px;
  width:100%;
}

#login-form {
  margin-top:40;
}
.formSignup {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4em;
}

a#github-button {
  border: 5px solid black;
}
.picGithub {
  margin-left: 0.1em;
  margin-top: 0.2em;
}
.screenHome {
  margin-top: 32px;
}

.screenMatchDetails {
  width: 80%;
  justify-content: space-around;
  margin-top: 32px;
}

.screenMatchDetails h1 {
  text-align: center;
}
.linkButton {
  color: white;
  text-decoration: none;
}
.imageProfile {
  height: 40%;
}
.pastMatches {
  justify-content: center;
}
.chatbox{
  border: 1px solid black;
  height: 8em;
  width: 100%;
}

#chat-main {
  border: solid 1px rgb(0,0,0, .2);
  border-radius: 5px;
  padding: 0;
  background-color:#e9ecef;
  margin-bottom: 30px;
}

#chat-form {
  bottom: 0;
  margin: 0;
  width: 100%;
}

.chat-btns {
  margin: 2 2 6 10;
  margin-left: 10;
  width: 20%;
  padding: 3;
}

.chat-msg-me {
  display: flex;
  justify-content: flex-end;
}

.chat-msg-me div {
  width: fit-content;
  color: white;
  border: solid 1px #00BFFF;
  background-color: #00BFFF;
  border-radius: 10px;
  padding: 1 5;
  margin: 2 10;
}

#match-online-txt {
  color:#32CD32;
}
#match-offline-txt {
  color:grey;
}

.chat-msg-you {
  justify-content: flex-start;
  display: flex;
}

.chat-msg-you div {
  width: fit-content;
  border: solid 1px #D3D3D3;
  background-color: #D3D3D3;
  border-radius: 10px;
  padding: 1 5;
  margin: 2 10;
}

#chat-msg-input {
  width: 75%;
}

#chat-row {
  justify-content: center;
  margin-top: 30;
}

#chat-message {
  display:flex;
  justify-content: flex-start
}

.chatmatch {
  justify-content: space-around;
}

#chat-messages {
  border-bottom: 1px solid rgb(0,0,0, .2);
  margin-bottom: 5;
}

.inline {
  display: inline-flex;
}

.left-side-button {
  margin-left: 2em;
}

.text-field-100 {
  max-width: 300px;
}