body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  background: #CCCCCC !important;
}
div.dropdown{
  text-align: right;
}

.gitButton {
  border: 5px solid black;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  background-color: #ffffff;
  width: 100%;
}

.btnLogin {
  justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 5em;
  height: 5em;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.formLogin {
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin-top: 4em;
      border: 1px solid rgb(0,0,0, .2);
    min-width: 300px;
    padding: 30;
    background-color: white;
}

#login-button {
  margin-top: 30px;
  margin-bottom: 20px;
  width:100%;
}

#login-github {
  margin-bottom: 20px;
  width:100%;
}

#create-account {
  margin-bottom: 20px;
  width:100%;
}

#login-form {
  margin-top:40;
}
.formSignup {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4em;
}

a#github-button {
  border: 5px solid black;
}
.picGithub {
  margin-left: 0.1em;
  margin-top: 0.2em;
}

.screenMatchDetails {
  width: 80%;
  justify-content: space-around;
  margin-top: 32px;
}

.screenMatchDetails h1 {
  text-align: center;
}

.chatbox{
  border: 1px solid black;
  height: 8em;
  width: 100%;
}


#chat-main {
  border: solid 1px rgb(0,0,0, .2);
  border-radius: 5px;
  padding: 20 15;
  background-color:#e9ecef;
}

.chat-msg-you {
  display: flex;
  justify-content: flex-end;
}

.chat-msg-you div {
  width: fit-content;
  color: white;
  border: solid 1px #00BFFF;
  background-color: #00BFFF;
  border-radius: 10px;
  padding: 5;
}

.chat-msg-me {
  justify-content: flex-start;
  display: flex;
}

.chat-msg-me div {
  width: fit-content;
  border: solid 1px #D3D3D3;
  background-color: #D3D3D3;
  border-radius: 10px;
  padding: 5;
}

#chat-row {
  justify-content: center;
  margin-top: 30;
}
#chat-message {
  display:flex;
  justify-content: flex-start
}
.chatmatch {
  justify-content: space-around;
}
